@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins" , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #5372f0;
}

.wrapper{
    width: 380px;
    background-color: #fff;
    border-radius: 5px;
    padding: 40px 30px 50px;
    text-align: center;
}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
}
.wrapper form{
    margin: 40px 0;
}

form .field{
    width: 100%;
    margin-bottom: 20px;
}

form .field.shake{
    animation: shake 0.3s ease-in-out infinite;
}

form .field .input-area{
    position: relative;
}
form input{
    height: 50px;
    width: 100%;
    padding: 0 45px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    outline: none;
}

form .field.error input{
    border-color: #dc3545;
}

form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
}
form .field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    pointer-events: none;
}
form .field .icon{
    left: 15px;
    color: #bfbfbf;
}
form .field .error-icon {
    right: 15px;
    color: #dc3545;
}
form .field .error-txt{
    margin-top: 5px;
    color: #dc3545;
    text-align: left;
}
form .field .error{
    display: none;
}

form .field.error .error{
    display: block;
}

form .pass-link{
    text-align: left;
    margin-top: -10px;
}

.wrapper a{
    color: #5372f0;
    text-decoration: none;
}
.wrapper a:hover{
    text-decoration: underline;
}

form input[type="submit"]{
    margin-top: 30px;
    border: none;
    background-color: #5372f0;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s ease;
}
form input[type="submit"]:hover{
    background-color: #2c52ed;
}

@keyframes shake {
    0%,100%{
        margin-left: 0;
    }
    20%,80%{
        margin-left: -12px;
    }
    40%,60%{
        margin-left: 12px;
    }
}